.header {
    height: 100px;
    background: purple;
}

.menu {
    float: right;
}

.menu a,
.fontsize a {
    text-decoration: none;
    padding: .5em 0;
    background: pink;
    border: 1px solid gray;
    display: block;
    text-align: center;
    transition: all .3s;
}

.menu a:hover,
.fontsize a:hover,
.menu a.active {
    background: #ff9cab;
    color: black;
}

.menu > li {
    float: left;
    width: 200px;
}

.menu ul {
    display: none;
}


/*.menu > li:hover ul {
	display: block;
}*/

.fontsize {
    float: left;
}

.fontsize li {
    float: left;
    width: 60px;
}

.textblock p {
	font-size: 20px;
}

.box1,
.box2,
.box3 {
    width: 100px;
    height: 100px;
    display: none;
}

.box1 {
    background: blue;
}

.box2 {
    background: pink;
}

.box3 {
    background: orange;
}

.ad{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 30px;
	background: black;
	color: white;
}

.ad {
	padding: 10px;
}

.ad .ad-close {
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	background: red;
	color: white;
	padding: .5em;
}

.ad .ad-close:hover {
	background: blue;
}