.cart {
	width: 500px;
	margin: 20px auto;
}

.cart li {
	width: 30%;
	float: left;
	height: 100px;
	margin: 1%;
	border: 1px solid #000;
	cursor: pointer;
}

.cart h3.active {
	background: blue;
	color: #fff;
}