.container {
	position: relative;
}

.main {
	width: 100%;
	height: 300px;
	background: purple;
	float: right;
	transition: 0.3s ease;
}

.header {
	height: 50px;
	background: blue;
} 

.aside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 300px;
    background: green;
    overflow: hidden;
    transform: translateX(-250px);
    transition: .3s ease;
}

.open .main {
    transform: translateX(250px);
}

.open .aside {
    transform: translateX(0px);
}
