a {
	text-decoration: none;
}

.cart {
	width: 500px;
	margin: 2px auto;
}

.cart > li {
	margin-bottom: 1em;
}

.cart > li > a {
	color: blue;
	border: 1px solid gray;
	display: block;
	padding: 5px;
}

.cart > li > a:hover {
	background: blue;
	color: #fff;
}

.cart > li li {
	margin: 5px 0;
}

.cart ul {
	display: none;
}